<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ category }}</title>
    <script type="text/javascript" src="{{url_for('static', filename='request.js')}}">

    </script>

</head>
<body>
<h3>Kategorie: {{ category }}</h3>
<h3>Question: {{ question }}</h3>
<h3>Frage: {{ question.text }}</h3>
<ul>
    {% for pAnswer in question.possibleAnswers %}
        <li>
            <button onclick="foo({{ pAnswer }}, {{ question.id }})">
                {{ pAnswer }}
            </button>
        </li>
    {% endfor %}
</ul>
</body>
</html>